@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#logo2{
    font-family: 'Hachi Maru Pop', cursive;
    display: inline-block;
    height: 35px;
  
    font-size: xx-large;
    font-style: italic;
    font-weight: 900;
   }
   
   #logo2:hover{
     transition: 1s color;
     color: rgb(214, 142, 47);
   }
  
   #icons a{
     display: block;
     margin-top: 5px;
   }
  
   #icn1{
     float: left;
    
   }
  
   #icn2{
     margin-left: 20px;
   }
  
   #icn3{
     float: right;
   }
  
  #main-img1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

*{
  box-sizing: border-box;
}

.card {
  background-color: #FEE5E0;
  padding: 3px;
  overflow: hidden;
  display: inline-block;
  margin-top: 5px;
  margin: 5px;
}

.container {
  margin-top: 5%;
  text-align: center;
  padding: 2px 16px;
}

.container h4, h3{
  color: #DB7093;
  font-family: 'Caveat', cursive;
  font-stretch: condensed;
  font-size: x-large;
  font-weight: bolder;
}

.container a{
  display: block;
  text-decoration: none;
  margin: 20px;
  font-size: x-large;
  font-family:'Caveat', cursive;
  border: solid;
  background-color:   #DB7093;
  color: white;
  width: 100px;
  border-radius: 15px;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 95px;
}
.container a:hover{
  color: #41aea9;
  background-color: white;

}

.categorySection{
  margin-top: 150px;
  margin-left: 15px;
  margin-bottom: 15px;

}

a{
  text-decoration: none;
  color:#DB7093;
  transition: 1s color;  

}
 /* header{
  min-width: 100%;
  background-color : #F8EDF3 ;
  height: 130px;}

#list-header{
  margin-right: 50px;
  margin-left: 10px;
  display: inline;
}
#list-header ul{
  margin-right: 10%;
  margin-top: 3.5%; 
  color: #41aea9;
  float: right;
} */

main{
  background-color: rgb(117, 73, 94);
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  height: 200px;
}

/* header{
  min-width: 100%;
  background-color : #F8EDF3 ;
  height: 130px;}

#list-header{
  margin-right: 50px;
  margin-left: 10px;
  display: inline;
}
#list-header ul{
  margin-right: 10%;
  margin-top: 3.5%; 
  color: #41aea9;
  float: right;
}

.dropdown-content{
  z-index: 2;
}

li{
  display: inline-block;
  padding: 5px;
  font-family: 'Indie Flower', cursive;
  
  font-size: large;
}
header a:hover{
  transition: 1s color;
  border-bottom: 1px solid whitesmoke;
  color: #41aea9;
  font-size: x-large;
  font-weight: 800;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer{
  background-color : #F8EDF3 ;
  text-align: center;
  padding: 60px;
  padding-top: 20px;
  height: 50px;
}
footer h3{
  display: inline;
  font-size: xx-large;
  margin-bottom: 50px;
}

footer h3 a{
  margin-bottom: 50px;

}
#foot-list{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} */
/* .clear{
  clear: both;
}
footer a:hover{
  color: rgb(182, 112, 21);
}
footer ul{
  margin-top: -1.5%; 
}

footer h4{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} */

*{
  box-sizing: inherit;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

#main-img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.card:hover {
  z-index: 1px;
}

.about-section h1{
  font-size: 50px;
  font-family:'Caveat', cursive;
  margin-bottom: 20px;
}

.about-section p{
  font-size: 30px;
  font-family:'Caveat', cursive;
}

.container p{
  margin-bottom: 20px;
}
