@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
   #icons a{
     display: block;
     margin-top: 5px;
   }
   #icn1{
     float: left;
   }
   #icn2{
     margin-left: 20px;
   }
   #icn3{
     float: right;
   }
  #main-img1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-right: auto;
    width: 65%;
    margin-left: 185px;
    padding-bottom: 20px;

  }
  #main-img2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding-bottom: 20px;
  }
*{
  box-sizing: border-box;
}
.card {
  background-color: #FEE5E0;
  padding: 10px;
  overflow: hidden;
  display: inline-block;
  margin-top: 5px;
  margin: 10px;
  height: 550px;
  width: 302px;
}
.container {
  margin-top: 5%;
  text-align: center;
  padding: 2px 16px;
}
.container h2{
  padding-top: 10px;
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  color:  #09555A;
  font-family:'Caveat', cursive;
}
.container p{
  /* font-size: 25px; */
  padding-bottom: 5px;
  color: #09555A;
}

#title{
  margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: xx-large;
    margin-top: 15px;
    color:#09555A;
    font-family:'Caveat', cursive;
    font-weight: bolder;
}

.email{
  font-size: 20px;
}

.categorySection{
  margin-top: 150px;
  margin-left: 15px;
  margin-bottom: 15px;
}
a{
  text-decoration: none;
  color:#DB7093;
  transition: 1s color;  
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #A95773;
  height: 125px;
/* text-sha  dow: 4px 4px 4px #ffffff; */
  color: white;
  font-weight: 400;
}
*{
  box-sizing: inherit;
}
.container {
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  color: grey;
  font-size: 20px;
}
.button:hover {
  background-color: #555;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card:hover {
  z-index: 1px;
}
.about-section h1{
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  font-style: italic;
  font-weight: bolder;
}
.about-section p{
  font-size: 40px;
  font-family:'Caveat', cursive;
}
.container p{
  margin-bottom: 20px;
}
.socialIcon img {
  height: 35px;
  width: 35px;
}