@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.card {
  margin-right: 50px;
<<<<<<< HEAD
  margin-top: 20px;
  margin-left: 140px;
  background-color:  #ffcccc;
=======
  margin-top: 50px;
  margin-left: 130px;
  background-color:  rgba(148, 32, 55, 0.842);
>>>>>>> 36407865062ae23fa2a225c8d8c8f37d0e376ff3
  box-shadow: 0 4px 8px 0 rgba(112, 35, 35, 0.76);
  transition: 0.3s;
  width: 300px;
  height: 320px;
  border-radius: 5%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 80px;  
}

.card:hover {
  box-shadow: 0 8px 16px 0  #ffcccc;
  width: 320px;
  height: 350px;
  z-index: 1px;
}

.container {
  margin-top: 5%;
  text-align: center;
  padding: 2px 16px;
}
.container h4, h3{
  color:#6e4343;
  font-family: 'Caveat', cursive;
  font-stretch: condensed;
  font-size: x-large;
  font-weight: bolder;
}

#main-img{
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.container a{
  display: block;
  text-decoration: none;
  margin: 20px;
  font-size: x-large;
  font-family:'Caveat', cursive;
  border: solid;
  color: rgba(95, 36, 36, 0.815);
  border-radius: 15px;
  font-size: xx-large;
  font-weight: bolder;
}
.container a:hover{
  color:white;

}