@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
  box-sizing: border-box;
}

.card {
  z-index: 4;
  /* margin-right: 50px;
  margin-top: 20px;
  margin-left: 140px; */
  background-color: #FEE5E0;
  box-shadow: 0 4px 8px 0 rgba(112, 35, 35, 0.76);
  padding: 5px;
  transition: 0.3s;
  height: 320px;
  overflow: hidden;
  display: inline-block;
}

.card:hover {
  z-index: 1px;
}

.container {
  margin-top: 5%;
  text-align: center;
  padding: 2px 16px;
}
.container h4, h3{
  color: #09555A;
  font-family: 'Caveat', cursive;
  font-stretch: condensed;
  font-size: x-large;
  font-weight: bolder;
}

#main-img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
.container a{
  display: block;
  text-decoration: none;
  margin: 20px;
  font-size: x-large;
  font-family:'Caveat', cursive;
  border: solid;
  color:#09555A;
  width: 100px;
  border-radius: 15px;
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 95px;
}
.container a:hover{
  cursor: pointer;
  color: #09555A;
  background-color: white;

}

.categorySection{
  margin-top: 150px;
  margin-left: 15px;
  margin-bottom: 15px;

}