@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
  .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .formPart{
    margin-left: 60px;
  }
  .contentImage{
    margin-top: 30px;
  }
label{
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
    font-family:oblique;
  }
input{
    margin-top: 15px;
    width: 60%;
    margin-left: 15px;
    height: 200px;
}
button{
    margin-top: 5px;
    width: 150px;
    height: 50px;
    font-weight: bolder;
    font-style: oblique;
    background-color: white;
    border-radius: 15px;
    margin-left: 15px;
    border: solid rgba(150, 50, 35, 0.76);
}
#comments-container{
    width: 60%;
    border: 2px solid rgba(112, 35, 35, 0.76);
    margin-top: 20px;
    margin-left: 15px;
}
#feedback{
    margin-top: 25px;
    margin-left: 20px;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Dancing Script', cursive;
}
#commit{
    display: inline-block;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: large;
}
.about-feadback {
  padding: 50px;
  text-align: center;
  background-color: #A95773;
  color: white;
  height: 200px;
}
.about-feadback h1{
  font-size: 50px;
  margin-bottom: 20px;
  color: aliceblue;
  font-family: 'Caveat', cursive;
}
