@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
  .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .formPart{
    margin-left: 60px;
  }
  .contentImage{
    margin-top: 30px;
  }
label{
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Yusei Magic', sans-serif;
    color: #09555A;
  }

#comments-container{
    width: 72%;
    margin-top: 20px;
    margin-left: 15px;
    background: url(../img/note.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
}

#feedback{
    margin-top: 25px;
    margin-left: 5px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Yusei Magic', sans-serif;
    color: #09555A;
}

#commit{
    display: inline-block;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: large;
}
.about-feadback {
  padding: 50px;
  text-align: center;
  background-color: #A95773;
  height: 75px;
  color: #09555A;
  font-weight: 400;
}
.about-feadback h1{
  font-size: 50px;
  margin-bottom: 20px;
  color: #e5eaeb;
  font-family: 'Caveat', cursive;
  font-weight: bolder;
}

button[type=submit] {
  width: 30%;
  background-color: #A95773;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  margin-left: 150px;
}

button[type=submit]:hover {
  background-color: #A95773;
}

input[type=text], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 80px;
}

#comments-container ul{
  margin: 10px;
  padding-left: 65px;
}

#comments-container li {
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}