@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#logo{
 font-family: 'Hachi Maru Pop', cursive;
 display: inline-block;
 height: 35px;
 margin-top: 15px;
 margin-right: 70px;
 font-size: large;
 font-style: italic;
 font-weight: 900;
}

#logo:hover{
  transition: 1s color;
  color: antiquewhite;
}
h1{
  color: brown;
}
main{
  /* min-height: 100em; */
  background-size: 100% 2239px;
  background-image: url(../assests/mainbackground.jpg);
  background-repeat: no-repeat;
  
  
}

#end-main{
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color: rgb(114, 77, 28);
  transition: 1s color;  

}
 header{
  min-width: 100%;
  /* position: fixed; */
  background-color : #F8EDF3 ;
  height: 130px;}

#list-header{
  margin-right: 50px;
  margin-left: 10px;
  display: inline;
}
#list-header ul{
  margin-right: 10%;
  margin-top: 3.5%; 
  float: right;
}
li{
  display: inline-block;
  padding: 5px;
  font-family: 'Indie Flower', cursive;
  font-size: large;
}
header a:hover{
  transition: 1s color;
  border-bottom: 1px solid whitesmoke;
  color:  #DB7093;
  font-size: x-large;
  font-weight: 800;
}
#side-img{
  position: relative;
  width: 100%;
  height: 450px;
}

#side-img img {
  position: relative;
}

#side-img::after {
  position: absolute;
  content: '';
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width:100%;
  height: 100%;
}

.top-left {
  position: absolute;
  top: 150px;
  left: 320px;
  color: white;
  text-shadow: 0 0 3px #ffcccc, 0 0 5px  rgba(95, 36, 36, 0.815);
  line-height: 55px;
  font-size: xx-large;
  font-family:'Caveat', cursive;
  z-index: 1;
}

#side-img img{
  width: 100%;
  height: 100%;
  /* padding: 30px; */
  /* margin-left: auto;
  margin-right: auto; */
  /* text-align: center; */
}
footer h1{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
footer{
  background-color: #ffcccc;
  text-align: center;
  /* padding: 70px;
  padding-top: 20px; */
  /* margin-top: 100px; */
  height: 120px;
  margin-top: 0;
  padding-top: 25px;
}
footer h3{
  display: inline;
  font-size: xx-large;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

footer h3 a{
  margin-bottom: 50px;

}
#foot-list{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.clear{
  clear: both;
}
footer a:hover{
  color: rgb(182, 112, 21);
}
footer ul{  
  margin-right: 0%;
  margin-top: -1.5%; 
}

footer h4{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


 #icons a{
   display: block;
   margin-top: 5px;
 }

 #icn1{
   float: left;
  
 }

 #icn2{
   margin-left: 20px;
 }

 #icn3{
   float: right;
 }

