@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#logo{
 font-family: 'Hachi Maru Pop', cursive;
 display: inline-block;
 height: 35px;
 margin-top: 15px;
 margin-right: 70px;
 font-size: large;
 font-style: italic;
 font-weight: 900;
}

#logo:hover{
  transition: 1s color;
  color: antiquewhite;
}
h1{
  color: brown;
}
main{
  padding-bottom: 2%;
  background-position: bottom;
  background-size: 100% 2239px;
  background-image: url(../assests/mainbackground.jpg);
  background-repeat: no-repeat;
  
  
}

#end-main{
  margin-bottom: 10px;
}

a{
  text-decoration: none;
  color:#DB7093;
  transition: 1s color;  

}
 header{
  min-width: 100%;
  /* position: fixed; */
  background-color : #F8EDF3 ;
  height: 130px;}

#list-header{
  margin-right: 50px;
  margin-left: 10px;
  display: inline;
}
#list-header ul{
  margin-right: 10%;
  margin-top: 3.5%; 
  color: #41aea9;
  float: right;
}

.dropdown-content{
  z-index: 2;
}


li{
  display: inline-block;
  padding: 5px;
  font-family: 'Indie Flower', cursive;
  
  font-size: large;
}
header a:hover{
  transition: 1s color;
  border-bottom: 1px solid whitesmoke;
  color: #41aea9;
  font-size: x-large;
  font-weight: 800;
}
#side-img{
  position: relative;
  width: 100%;
  height: 450px;
}

#side-img img {
  position: relative;
}

#side-img::after {
  position: absolute;
  content: '';
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(248, 193, 206, 0.171);
  width:100%;
  height: 100%;
}

.top-left {
  position: absolute;
  top: 150px;
  left: 320px;
  color: white;
  text-shadow: 0 0 3px #ffcccc, 0 0 5px  rgba(95, 36, 36, 0.815);
  line-height: 55px;
  font-size: xx-large;
  font-family:'Caveat', cursive;
  z-index: 1;
}

#side-img img{
  width: 100%;
  height: 100%;
}
footer h1{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
footer{
  background-color: #ffcccc;
  text-align: center;
  height: 120px;
  margin-top: 0;
  padding-top: 25px;
}
footer h3{
  display: inline;
  font-size: xx-large;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

footer h3 a{
  margin-bottom: 50px;

}
#foot-list{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.clear{
  clear: both;
}
footer a:hover{
  color: rgb(182, 112, 21);
}
footer ul{  
  margin-right: 0%;
  margin-top: -1.5%; 
}

footer h4{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


 #icons a{
   display: block;
   margin-top: 5px;
 }

 #icn1{
   float: left;
  
 }

 #icn2{
   margin-left: 20px;
 }

 #icn3{
   float: right;
 }

 .navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  margin-top: 30px;
    margin-right: 35px;
    float: right;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}